[Unit]
Description=Ethereum go client volume attachment
After=network.target 
Wants=network.target
Before=geth.service

[Service]
User=goeth
Group=goeth
Type=oneshot

ExecStart=/usr/local/bin/attach-goeth-volume.sh
ExecStart=+/usr/local/bin/format-goeth-volume.sh
ExecStart=+/usr/local/bin/mount-goeth-volume.sh

ExecStop=-+/usr/local/bin/unmount-goeth-volume.sh
ExecStop=-+/usr/local/bin/detach-goeth-volume.sh

RemainAfterExit=yes

[Install]
WantedBy=default.target